.MainPage{
    height: 300px;
    padding: 30px;

   
   
    background-image: url('../../assets/screenshot.png');
  
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.MidSection{
    
  
height: 60vh;
justify-content: space-around;
background-color: #8979F2;
}


.MidSection h2{
    color:#D9AA8F;
    font-family: 'Comic Neue', cursive;
}
.MidSection{
    border-radius: 5px 5px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
box-sizing: border-box;
padding: 20px;
    height: 500px;
    
}
.MidSection div{
   display: flex;
   align-items: center;
}
.MidSection h2{
    font-size: 1.8em;
}

.MidSection img{
height: 100%;
width: 100%;
object-fit: contain;
border-radius: 50%;
}

@media(min-width:420px){
    .MainPage{
        height: 80vh;
        overflow:auto; 
    }

   .MidSection{
       height: 30vh;
       display: flex;
       flex-flow: row;
       box-sizing: border-box;
       padding: 30px;
   }
   .MidSection div{
       width: 50%;
      margin: 20px;
   }
   .MidSection img{
       object-fit: contain;
       border-radius: 15px;
   }
   
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  {
.MainPage{
    height: 40vh;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
.MidSection{
    height: 30vh;
}
}