.HireMe{
    margin-top:15%;
    margin-right: 55%;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    display: block;
}
.HireMe h1{
font-size:5em;
color:rgb(180, 121, 121);

font-weight: bold;
}
.HireMe button{
    background-color: transparent;
    color:rgb(180, 121, 121);
    font-size: 5em;
    border:1px solid purple;
    box-shadow: 6px 6px 3px gray;
    border-radius: 12px;
}

.HireMe button:hover{
    background-color: purple;
    color:white;
}

@media(max-width:400px){
    .HireMe{
        margin-top: 10%;
    
    }
    .HireMe h1{
font-size: 1.8em;
box-shadow: none;
color:rgb(180, 121, 121);
    }
    .HireMe button{
        font-size: 1.2em;
        border-radius: 5px;
        padding: 10px;
        color: black;
    }
}