.MainPage{
 
    height: 800px;
  overflow:auto;
    background-color: chartreuse;
    background-image: url('../../assets/screenshot.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 
}


@media(max-width:400px){
    .MainPage{
        overflow:hidden;
        height: 300px;
        padding: 30px;
    }
    .MainPage img{
        height: 400px;
    }
}