.Contact{
display: flex;
flex-direction: column;
justify-content: space-between;
}
.Contact a{
    font-size: 1.2em;
    color:#5F49F2 ;
}
.ContactGone{
    display: none;
}
.Cdetail{
margin: 5px;
display: flex;
flex-direction: column;
align-items: center;
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
   {
.Contact a{
    font-size: 1.4em;
 
}
}
.Contact a:hover{
    color: #3113F2;
}