.Footer{
    background-color: #8979F2;
    height: 25vh;
    box-sizing: border-box;
  padding: 20px;
}
.Icons{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}
.Footer p{
  color: white;
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  {
.Footer{
  height: 30vh;
}
}