.Footer{
    background-color: black;
    height: 250px;
    box-sizing: border-box;
  padding: 20px;
}
.Icons{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}
.Footer p{
  color: white;
}
